/* скрыть заголовок в меню на моб */
.ant-menu-item::after {
    display: none;
}
.ant-menu-title-content {
    display: none;
}
.ant-otp-input {
    border-color: var(--color-secondary);
    height: 60px;
}
